/* noinspection CssInvalidAtRule */
@tailwind base;

/* noinspection CssInvalidAtRule */
@tailwind components;

/* noinspection CssInvalidAtRule */
@tailwind utilities;

html {
  overflow-y: auto;
  overscroll-behavior-y: none;
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ',
    Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  @apply text-gray-800;
}
